
.wow_priest {
    color: #FFFFFF;
}

.wow_mage {
    color: #69CCF0;
}

.wow_warlock {
    color: #9482C9;
}

.wow_priest {
    color: #FFFFFF;
}

.wow_rogue {
    color: #FFF569;
}

.wow_druid {
    color: #FF7D0A;
}

.wow_monk {
    color: #00FF96;
}

.wow_demon_hunter {
    color: #A330C9;
}

.wow_hunter {
    color: #ABD473;
}

.wow_shaman {
    color: #0070DE;
}

.wow_death_knight {
    color: #C41F3B;
}

.wow_warrior {
    color: #C79C6E;
}

.wow_paladin {
    color: #F58CBA;
}

.wow_disenchant {
    color: RED;
}

.recentTable tr:hover {
    background-color: #424242 !important;
}

.selectedRoute {
    text-decoration: underline;
}

.raidImaage {
    background: url(http://pic2.ooopic.com/11/26/30/31b1OOOPIC48.jpg) left top no-repeat;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    width: 300px;
    height: 300px;
}

.closedRaid {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.recruitment_closed {
    color: red;
}

.recruitment_low {
    color: orange;
}

.recruitment_open {
    color: white;
}

.recruitment_high {
    color: #00ff00;
}

.loot_0 {

}

.loot_1 {
    font-weight: bold;
    color: #00d600
}

.loot_2{
    font-weight: bold;
    color: cyan;
}

.loot_3 {
    font-weight: bold;
    color: orange;
}

.loot_4 {
    font-weight: bold;
    color: yellow;
}

.loot_5 {
    font-weight: bold;
    color: red;
}

.guildless {
    color: grey;
}
